
nav{
    display:flex;
    margin-top:10px;
    padding-bottom:10px;
    border-bottom:solid grey 2px;
    width:100%;
}

div.level-item{
    display:flex;
}

#nav-logo{
    height:45px;
}

nav {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom:solid grey 2px;
  width: 100%;
}

div.level-item {
  display: flex;
}

#nav-logo {
  height: 45px;
}

.burger{
  position:absolute;
  right:-20;
  justify-content: flex-end;
}

#relative{
  position:relative;
  // float:right;
}

.navbar-menu{
  position:absolute;
}

.navbar{
  position:relative;
  border-bottom:solid grey 1.5px;
}

.navbar-brand{
  width:100%;
}

#navbarBasicExample{
  position:absolute;
  right:0px;
  top:50px;
}

span.span{
background-color:rgb(86,177,121);
color:rgb(86,177,121);
height:5px;
width:15px;
margin-top:2px;
}

#navbar{
  width:100%;
}
a.navbar-item.is-right{
  padding-left:10px;
  padding-right:10px;
  text-align:center;
}