input, label{
    display:block;
    text-align:left;
}

form button{
    background-color:rgb(77,77,77);
    width:150px;
    color:white;
    border-radius:10px;
    height:40px;
    font-size:20px;

}