input, label{
    display:block;
    text-align:left;
    width:100%;
}
input{
    border:solid grey 1px;
}

label{
    margin-top:15px;
}

#submit-form-div{
    display:flex;
    justify-content: flex-end;
}

form button{
    background-color:rgb(77,77,77);
    width:150px;
    color:white;
    border-radius:10px;
    height:40px;
    font-size:20px;
    margin-top:15px;

}