.dropdown button{
    width:175px;
    border-radius:10px;
    background-color:rgb(77,77,77);
    color:white;
    padding:0;
}

button img{
    height:17.5px;
    width:17.5px;
}

#span1{
    justify-content: flex-start;
}




#span4{
    width:100px;
}

#span5{
    width:100px;
}

.dropdown .button{
    height:100%;
    font-size:20px;
    align-content: center;
    justify-content: center;
}

.dropdown{
   display:flex; 
   align-content: center;
   justify-content: center; 
}

