.dropdown button{
    width:175px;
    border-radius:10px;
    background-color:rgb(77,77,77);
    color:white;

}

button img{
    height:17.5px;
    width:17.5px;
}

#span1{
    justify-content: flex-start;
}


#addhabit-button{
    margin-right:50px;
}

#span4{
    width:100px;
}

#span5{
    width:100px;
}