//************************************
//* OVERALL
//************************************

#SevenDaysContainer{
    background-color:rgb(77,77,77);
    padding:20px;
    border-radius:15px;
    color:white;
    padding-top:15px;
    padding-bottom:35px;
}

.columns{
    display:flex;
}

//************************************
//* Day Columns
//************************************

.column-days{
    text-align:center;
}


//************************************
//* Color Columns
//************************************
// .column-info{
//     border:solid white 1px;
// }

.column-info div{
    border:solid white 1px;
}

.day-1{
    background-color:rgb(86,177,121);
}

.day-2{
    background-color:rgb(161, 72, 72);
}

.day-3{
    background-color:rgb(86,177,121);
}

.day-4{
    background-color:rgb(86,177,121);
}

.day-5{
    background-color:rgb(86,177,121);
}

.day-6{
    background-color:rgb(161, 72, 72);
}

.day-7{
    background-color:rgb(86,177,121);
}
