
nav{
    display:flex;
    margin-top:10px;
    padding-bottom:10px;
    border-bottom:solid grey 2px;
    width:100%;
}

div.level-item{
    display:flex;
}

#nav-logo{
    height:45px;
}

nav {
  display: flex;
  margin-top: 10px;
  padding-bottom: 10px;
  // border-bottom:solid grey 2px;
  width: 100%;
}

div.level-item {
  display: flex;
}

#nav-logo {
  height: 45px;

}

.burger{
  position:absolute;
  right:0;
}