@import url("https://fonts.googleapis.com/css?family=Boogaloo");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500");

// Update Bulma's global variables
$family-sans-serif: "Boogaloo", cursive;
$green: #22b573;
$primary: $green;
$grey: rgb(155, 154, 154);
$darkgrey: #5d6468;
$button-background-color: $grey;
$button-hover-color: white;
$link: $darkgrey;
$link-hover: $grey;
$dropdown-content-background-color: $grey;
$dropdown-item-color: white;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";

.card {
  border-radius: 10px;
  border: grey 2px solid;
  p {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.card-header {
  flex-direction: column;
  background-color: $green;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
